<div class="col-3">
  <ul class="list-group chat-list">

    <% for(let i=0; i < chatrooms.length; i++){ %>
      <li class="list-group-item" data-id="<%= chatrooms[i]._id  %>">
        <h6>채팅방<%= i %></h6>
        <h6 class="text-small"><%= chatrooms[i].member[0]  %></h6>
      </li>
    </li>
    <%}%>

 </div>