<div class="col-3">
  <ul class="list-group chat-list">
    <li class="list-group-item" data-id="">
      <h6>채팅방1</h6>
      <h6 class="text-small">채팅방설명</h6>
    </li>
    <li class="list-group-item">
       <h6>채팅방2</h6>
       <h6 class="text-small">채팅방설명</h6>
     </li>
   </ul>
 </div>